body{
    background-color: rgba(123, 246, 145, 0.345);
}
#main_description{
    font-size: 50px;
    margin-top: 50px;
    text-align: center;
}
header{
    padding-bottom: 15px;
    margin-top: 30px;
    margin-bottom: 80px;
    border-bottom: 1px solid gray;
}
button{
    position: relative;
    font-size: 30px;
    transition: all 0.3s ease 0s;
    background-color: rgb(255, 255, 255);
    height: 50px;
    width: 200px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: 20px;
    border-radius: 5px;
}
button:hover{
    background-color: rgb(252, 114, 243);
}
#list{
    padding-bottom: 80px;
    margin-bottom: 80px;
    border-bottom: 1px solid gray;
}
.lists{
    margin-left: 70px;
    position: relative;
    font-size: 35px;
    transition: all 0.3s ease 0s;
    background-color: rgb(255, 255, 255);
    height: 60px;
    width: 275px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: 20px;
    border-radius: 5px;
}
.lists:hover {
    background-color: rgb(148, 114, 252);
}
#title{
    margin-left: 600px;
    position: relative;
    font-size: 40px;
    transition: all 0.3s ease 0s;
    background-color: rgb(255, 255, 255);
    height: 70px;
    width: 300px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: 20px;
    border-radius: 5px;
}
#title:hover {
    background-color: rgb(132, 241, 255);
}
h2{
    text-align: center;
}
img{
    margin-bottom: 50px;
    width: 50%;
    height: 50%;
}
h3{
    text-align: center;
}